<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?fileVersion 4.0.0?><cproject storage_type_id="org.eclipse.cdt.core.XmlProjectDescriptionStorage">
	<storageModule moduleId="org.eclipse.cdt.core.settings">
		<cconfiguration id="cdt.managedbuild.toolchain.gnu.cross.base.129694023">
			<storageModule buildSystemId="org.eclipse.cdt.managedbuilder.core.configurationDataProvider" id="cdt.managedbuild.toolchain.gnu.cross.base.129694023" moduleId="org.eclipse.cdt.core.settings" name="Default">
				<macros>
					<!-- Replace this with your actual NACL_SDK_ROOT directory. -->
					<!-- <stringMacro name="NACL_SDK_ROOT" type="VALUE_PATH_DIR" value="/Users/meltuhamy/nacl_sdk/pepper_32"/> -->
				</macros>
				<externalSettings/>
				<extensions>
					<extension id="org.eclipse.cdt.core.GmakeErrorParser" point="org.eclipse.cdt.core.ErrorParser"/>
					<extension id="org.eclipse.cdt.core.CWDLocator" point="org.eclipse.cdt.core.ErrorParser"/>
					<extension id="org.eclipse.cdt.core.GCCErrorParser" point="org.eclipse.cdt.core.ErrorParser"/>
					<extension id="org.eclipse.cdt.core.GASErrorParser" point="org.eclipse.cdt.core.ErrorParser"/>
					<extension id="org.eclipse.cdt.core.GLDErrorParser" point="org.eclipse.cdt.core.ErrorParser"/>
					<extension id="org.eclipse.cdt.core.ELF" point="org.eclipse.cdt.core.BinaryParser"/>
				</extensions>
			</storageModule>
			<storageModule moduleId="cdtBuildSystem" version="4.0.0">
				<configuration artifactName="NaClRPC" buildProperties="" description="" id="cdt.managedbuild.toolchain.gnu.cross.base.129694023" name="Default" parent="org.eclipse.cdt.build.core.emptycfg">
					<folderInfo id="cdt.managedbuild.toolchain.gnu.cross.base.129694023.317779542" name="/" resourcePath="">
						<toolChain id="cdt.managedbuild.toolchain.gnu.cross.base.1745014592" name="cdt.managedbuild.toolchain.gnu.cross.base" superClass="cdt.managedbuild.toolchain.gnu.cross.base">
							<option id="cdt.managedbuild.option.gnu.cross.prefix.61126370" name="Prefix" superClass="cdt.managedbuild.option.gnu.cross.prefix"/>
							<option id="cdt.managedbuild.option.gnu.cross.path.664220294" name="Path" superClass="cdt.managedbuild.option.gnu.cross.path"/>
							<targetPlatform archList="all" binaryParser="org.eclipse.cdt.core.ELF" id="cdt.managedbuild.targetPlatform.gnu.cross.115630135" isAbstract="false" osList="all" superClass="cdt.managedbuild.targetPlatform.gnu.cross"/>
							<builder arguments="NACL_SDK_ROOT=${NACL_SDK_ROOT}" command="make" id="cdt.managedbuild.builder.gnu.cross.1168655135" keepEnvironmentInBuildfile="false" managedBuildOn="false" name="Gnu Make Builder" parallelBuildOn="true" parallelizationNumber="optimal" superClass="cdt.managedbuild.builder.gnu.cross">
								<outputEntries>
									<entry flags="VALUE_WORKSPACE_PATH" kind="outputPath" name="newlib"/>
								</outputEntries>
							</builder>
							<tool id="cdt.managedbuild.tool.gnu.cross.c.compiler.1772513180" name="Cross GCC Compiler" superClass="cdt.managedbuild.tool.gnu.cross.c.compiler">
								<option id="gnu.c.compiler.option.include.paths.1612927458" superClass="gnu.c.compiler.option.include.paths" valueType="includePath">
									<listOptionValue builtIn="false" value="&quot;${NACL_SDK_ROOT}/include&quot;"/>
									<listOptionValue builtIn="false" value="&quot;${NACL_SDK_ROOT}/toolchain/mac_x86_glibc/x86_64-nacl/include&quot;"/>
								</option>
								<inputType id="cdt.managedbuild.tool.gnu.c.compiler.input.1323448521" superClass="cdt.managedbuild.tool.gnu.c.compiler.input"/>
							</tool>
							<tool id="cdt.managedbuild.tool.gnu.cross.cpp.compiler.420605975" name="Cross G++ Compiler" superClass="cdt.managedbuild.tool.gnu.cross.cpp.compiler">
								<option id="gnu.cpp.compiler.option.include.paths.2053756217" superClass="gnu.cpp.compiler.option.include.paths" valueType="includePath">
									<listOptionValue builtIn="false" value="&quot;${NACL_SDK_ROOT}/include&quot;"/>
									<listOptionValue builtIn="false" value="&quot;${NACL_SDK_ROOT}/toolchain/mac_x86_glibc/x86_64-nacl/include&quot;"/>
								</option>
								<inputType id="cdt.managedbuild.tool.gnu.cpp.compiler.input.1967674462" superClass="cdt.managedbuild.tool.gnu.cpp.compiler.input"/>
							</tool>
							<tool id="cdt.managedbuild.tool.gnu.cross.c.linker.572935475" name="Cross GCC Linker" superClass="cdt.managedbuild.tool.gnu.cross.c.linker"/>
							<tool id="cdt.managedbuild.tool.gnu.cross.cpp.linker.1497423204" name="Cross G++ Linker" superClass="cdt.managedbuild.tool.gnu.cross.cpp.linker">
								<inputType id="cdt.managedbuild.tool.gnu.cpp.linker.input.713566537" superClass="cdt.managedbuild.tool.gnu.cpp.linker.input">
									<additionalInput kind="additionalinputdependency" paths="$(USER_OBJS)"/>
									<additionalInput kind="additionalinput" paths="$(LIBS)"/>
								</inputType>
							</tool>
							<tool id="cdt.managedbuild.tool.gnu.cross.archiver.1151457054" name="Cross GCC Archiver" superClass="cdt.managedbuild.tool.gnu.cross.archiver"/>
							<tool id="cdt.managedbuild.tool.gnu.cross.assembler.1757695135" name="Cross GCC Assembler" superClass="cdt.managedbuild.tool.gnu.cross.assembler">
								<option id="gnu.both.asm.option.include.paths.608167804" superClass="gnu.both.asm.option.include.paths" valueType="includePath">
									<listOptionValue builtIn="false" value="&quot;${NACL_SDK_ROOT}/include&quot;"/>
									<listOptionValue builtIn="false" value="&quot;${NACL_SDK_ROOT}/toolchain/mac_x86_glibc/x86_64-nacl/include&quot;"/>
								</option>
								<inputType id="cdt.managedbuild.tool.gnu.assembler.input.297261331" superClass="cdt.managedbuild.tool.gnu.assembler.input"/>
							</tool>
						</toolChain>
					</folderInfo>
					<sourceEntries>
						<entry flags="VALUE_WORKSPACE_PATH" kind="sourcePath" name="src"/>
					</sourceEntries>
				</configuration>
			</storageModule>
			<storageModule moduleId="org.eclipse.cdt.core.externalSettings"/>
		</cconfiguration>
	</storageModule>
	<storageModule moduleId="cdtBuildSystem" version="4.0.0">
		<project id="NaClRPC.null.39224391" name="NaClRPC"/>
	</storageModule>
	<storageModule moduleId="org.eclipse.cdt.core.LanguageSettingsProviders"/>
	<storageModule moduleId="refreshScope" versionNumber="2">
		<configuration configurationName="Default">
			<resource resourceType="PROJECT" workspacePath="/NaClRPC"/>
		</configuration>
	</storageModule>
	<storageModule moduleId="scannerConfiguration">
		<autodiscovery enabled="true" problemReportingEnabled="true" selectedProfileId=""/>
		<scannerConfigBuildInfo instanceId="cdt.managedbuild.toolchain.gnu.cross.base.129694023;cdt.managedbuild.toolchain.gnu.cross.base.129694023.317779542;cdt.managedbuild.tool.gnu.cross.cpp.compiler.420605975;cdt.managedbuild.tool.gnu.cpp.compiler.input.1967674462">
			<autodiscovery enabled="true" problemReportingEnabled="true" selectedProfileId=""/>
		</scannerConfigBuildInfo>
		<scannerConfigBuildInfo instanceId="cdt.managedbuild.toolchain.gnu.cross.base.129694023;cdt.managedbuild.toolchain.gnu.cross.base.129694023.317779542;cdt.managedbuild.tool.gnu.cross.c.compiler.1772513180;cdt.managedbuild.tool.gnu.c.compiler.input.1323448521">
			<autodiscovery enabled="true" problemReportingEnabled="true" selectedProfileId=""/>
		</scannerConfigBuildInfo>
	</storageModule>
</cproject>
